* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 75%;
  }
}

/* CSS GRID */
.container {
}

/* body {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(
    -225deg,
    #003545 0%,
    #00454a 50%,
    #3c6562 100%
  );
}

#home {
  display: flex;
  flex-grow: 1;
}

#secondary {
  flex: 1 1 0%;
  order: -1;
  padding-left: 0.5rem;
}

#tertiary {
  flex: 1 1 0%;
  border-radius: 10px;

  background-image: linear-gradient(
    to right,
    #003545 0%,
    #00454a 50%,
    #3c6562 100%
  );
}

#content {
  flex: 4 1 0%;
  background-image: linear-gradient(
    to top,
    rgba(161, 140, 209, 0.5) 0%,
    rgba(251, 194, 235, 0.5) 100%
  );
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
}
#header,
#footer {
  text-align: center;
  padding: 1.5rem;
}

.link {
  text-decoration: none;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'grid-container-left grid-container-right';
}

.grid-container-left {
  grid-area: grid-container-left;
}

.grid-container-right {
  grid-area: grid-container-right;
} */

.video-container {
  position: relative;
}
