:root {
  --small-padding: 0.5rem;
  --small-margin: 0.5rem;
  --small-radius: 0rem;
  --medium-padding: 1.5rem;
  --medium-margin: 1.5rem;
  --img-brightness: 1;

  --clr-background-1: #030708;
  --clr-background-2: #071315;
  --clr-primary: #348ea3;
  --clr-font: #bae0e9;
}

.dark-theme {
  --clr-background-1: #030708;
  --clr-background-2: #071315;
  --clr-primary: #348ea3;
  --clr-font: #bae0e9;
  --img-brightness: 1;
}

.light-theme {
  --clr-background-1: #bae0e9;
  --clr-background-2: #86c9d8;
  --clr-primary: #071315;
  --clr-font: #030708;
  --img-brightness: 0.2;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 82.5%;
}

/* @media only screen and (max-width: 68.75em) {
  html {
    font-size: 60%;
  }
} */

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.3fr 1.5fr 1.2fr 0.2fr;
  grid-gap: 0.07rem;
  grid-template-areas:
    'header header header header header header'
    'sidebar-left main main main main sidebar-right'
    'sidebar-left main main main main sidebar-right'
    'sidebar-left footer footer footer footer sidebar-right';

  font-family: 'Inter', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--clr-font);
  text-align: center;
  background: var(--clr-primary);
  transition: all 0.3s linear;
}

header {
  background: var(--clr-background-1);
  grid-area: header;
  border-radius: var(--small-radius);
  padding-top: var(--medium-padding);
  transition: all 0.3s linear;
}

main {
  background: var(--clr-background-2);
  grid-area: main;
  border-radius: var(--small-radius);
  padding-top: var(--medium-padding);
  transition: all 0.3s linear;
}

footer {
  background: var(--clr-background-1);
  grid-area: footer;
  border-radius: var(--small-radius);
  padding-top: var(--medium-padding);
  padding-top: var(--medium-padding);
  transition: all 0.3s linear;
}

#sidebar-left {
  background: var(--clr-background-1);
  grid-area: sidebar-left;
  border-radius: var(--small-radius);
  padding-top: var(--medium-padding);
  transition: all 0.3s linear;
}

#sidebar-right {
  grid-area: sidebar-right;
  border-radius: var(--small-radius);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 4fr;
  grid-gap: 0.08rem;
  transition: all 0.3s linear;
}

#sidebar-timer {
  background: var(--clr-background-1);
  padding-top: var(--small-padding);
  transition: all 0.3s linear;
}

#sidebar-score {
  background: var(--clr-background-1);
  transition: all 0.3s linear;
}

#sidebar-poseimg {
  background: var(--clr-background-1);
  padding-top: var(--medium-padding);
  transition: all 0.3s linear;
}

.video-container {
  position: relative;
}

@media only screen and (max-width: 550px) {
  html {
    font-size: 70%;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr 2.2fr 1fr 0.3fr;
    grid-template-areas:
      'header'
      'sidebar-left'
      'main'
      'sidebar-right'
      'footer';
  }
}

li {
  list-style: none;
}

#sidebar-left li {
  cursor: pointer;
}

.poselist-img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  filter: brightness(var(--img-brightness));
}

.poselist-name {
  margin-bottom: var(--medium-margin);
}

.big-pose-img {
  width: 15rem;
  height: 20rem;
  transform: scaleX(-1);
  filter: brightness(var(--img-brightness));
}

.circle {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  text-align: center;
  border: 0.2rem solid var(--clr-primary);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--small-margin);
  margin-bottom: var(--small-margin);
}
